@font-face {
  font-family: "Poiret_One";
  src: URL("/fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: URL("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 1000;
}
@font-face {
  font-family: "Poppins";
  src: URL("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

.k1 {
  font-family: Poiret_One;
}
.k2 {
  font-family: Montserrat;
}
.k3 {
  font-family: Poppins;
}

/* BOJE */
/*
  background-color: #cdb4db;
  background-color: #ffc8dd;
  background-color: #ffafcc;
  background-color: #bde0fe;
  background-color: #a2d2ff;
*/

.navbar-nav a:hover,
.navbar-nav a.router-link-active,
.navbar-nav a.router-link-exact-active {
  font-weight: 600;
}

/* html,
body {
  scroll-behavior: smooth;
} */

.lock-scroll {
  overflow: hidden;
}

/* SingleItemView.vue -> ovo je globalno jer se nece prihavatit scoped css ako se koristi v-html*/
.item-description .important {
  font-weight: 500;
}

* {
  font-family: Montserrat;
}

#app {
  /*background-color: #ede4f2;*/
  background-image: url("/assets/img/background.png");
  background-size: 100%;
}

@media (max-width: 991.98px) {
  #app {
    background-image: url("/assets/img/background-mobile.png");
  }
}

/*
        /76.28px
        /61.03px
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px
1.25rem/20.00px
1rem/16.00px
*/
