.k1,
.k2,
.k3,
.k4,
.k5,
.k6 {
  font-size: 32px;
}

@font-face {
  font-family: "bubbleboddyneue";
  src: URL("fonts/bubbleboddy-neue-trial/bubbleboddyneue-regular trial.ttf")
    format("truetype");
}
@font-face {
  font-family: "DancingScript";
  src: URL("fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Kulim_Park";
  src: URL("fonts/Kulim_Park/KulimPark-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: URL("fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Nunito_Sans";
  src: URL("fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poiret_One";
  src: URL("fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
}

.k1 {
  font-family: Poiret_One;
}
.k2 {
  font-family: bubbleboddyneue;
}
.k3 {
  font-family: Kulim_Park;
}
.k4 {
  font-family: Nunito_Sans;
}
.k5 {
  font-family: DancingScript;
}
.k6 {
  font-family: Montserrat;
}

/* BOJE */
/*
  background-color: #cdb4db;
  background-color: #ffc8dd;
  background-color: #ffafcc;
  background-color: #bde0fe;
  background-color: #a2d2ff;
*/

.navbar-nav a:hover,
.navbar-nav a.router-link-active,
.navbar-nav a.router-link-exact-active {
  font-weight: bold;
}

html,
body {
  scroll-behavior: smooth;
}

.lock-scroll {
  overflow: hidden;
}

* {
  font-family: Poiret_One;
}

/*
3.052rem/48.83px
2.441rem/39.06px
1.953rem/31.25px
1.563rem/25.00px
1.25rem/20.00px
1rem/16.00px
*/
